.nav-tab {
  margin: 0 auto;
  padding: 20px 0;
  width: 84%;
  max-width: 1600px;
  display: flex;
  border-bottom: 1px solid #f3f3f9;
  justify-content: space-between;
}

.nav-tab__lists {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 70px;
}

.nav-tab__button-catalog {
  width: 250px;
  height: 52px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  background: linear-gradient(135deg, #209efa 0%, #0075ff 100%);
  border: none;
  color: #fff;
  text-align: center;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 400;
}

.nav-tab__list {
  margin: 0;
  padding: 0;
}

.nav-tab__button {
  margin: 0;
  padding: 0;
  height: 52px;
  border: none;
  color: #252426;
  font-family: Gilroy;
  font-size: 18px;
  text-align: center;
  font-weight: 400;

  background-color: rgba( 0, 0,0,0);
}

.nav-tab__button-down {
    
    margin: 0;
    padding: 0;

    object-fit: contain;
    object-position: bottom;
}
