.description {
    margin: 0 auto;
    padding: 0;
    width: 84%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description__title {
    margin: 0 auto;
    padding: 0;
    color:  #252426;
text-align: center;

font-family: Gilroy;
font-size: 24px;
font-weight: 700;
line-height: 142.5%;
}

.description__text {
    margin: 0 auto;
    padding: 0;
    color: #5A5A5C;
text-align: center;

font-family: Gilroy;
font-size: 18px;

font-weight: 400;

}