.price {
  margin: 0 auto;
  padding: 0;
  width: 84%;
  max-width: 1330px;
}

.price__title {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  color: rgb(37, 36, 38);
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 700;
  line-height: 142.5%;
  text-align: center;
}
