.calculator {
  margin: 0 auto;
  padding: 0;
  width: 84%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.calculator__title {
  margin: 0 auto;
  padding: 0;
  color: #252426;

  font-family: Gilroy;
  font-size: 24px;
  font-weight: 700;
  line-height: 142.5%; /* 34.2px */
}

.calculator__content {
  margin: 0 auto;
  padding: 27px;
  width: 84%;
  max-width: 1330px;
  border-radius: 5px;
  background: #fff;
  /* Shadow */
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
}

.calculator__subtitle {
  margin: 0;
  padding: 0;
  color: #252426;
  font-family: Gilroy;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.52px;
}

.calculator__steps {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  list-style: none;
  display: flex;
}

.calculator__step {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.step__count {
  margin: 0;
  padding: 0;
  width: 52px;
  height: 52px;
  background-color: #f3f3f9;
  border-radius: 50%;
  color: #252426;
  text-align: center;
  /* Titles/H7 */
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 700;
  line-height: 52px;
}

.step__count_active {
  background: linear-gradient(135deg, #209efa 0%, #0075ff 100%);
  color: #fff;
}

.calculator__options {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  gap: 18px;
  justify-content: space-between;
  max-height: 494px;
  height: 39%;
}

.calculator__clue {
  margin: 0;
  padding: 0;
  width: 22%;
  max-height: 494px;
  height: calc(28vw - 50px);
  display: grid;
  grid-template-columns: 15px 15px auto;
  grid-template-rows: 1fr;
}

.clue__arrow {
  margin: 0;
  padding: 0;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100%;
  background-image: url(../../images/square.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.clue__text {
  margin: 0;
  padding: 25px 16px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  /* height: 100%; */
  grid-column-start: 2;
  grid-column-end: 4;
  border-radius: 5px;
  background-color: #3c9cff;
  color: #fff;
  text-align: center;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 600;
  line-height: 137.3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.clue__info {
  margin: 0;
  padding: 0;
  padding-bottom: 70px;

  border-bottom: 1px solid #fcfcff;
}

.clue__author {
  margin: 0;
  padding: 0;
}

.clue__name {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 142.5%;
}

.clue__author-work {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 0%;
}

.next-step {
  width: 358px;
  height: 52px;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #209efa 0%, #0075ff 100%);
  border: none;
  border-radius: 5px;
  color: #fff;

  text-align: center;

  font-family: Gilroy;
  font-size: 18px;

  font-weight: 500;

  letter-spacing: 0.54px;
}
