.form-submit {
  margin: 0;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  border-radius: 5px;
  background: linear-gradient(135deg, #209efa 0%, #0075ff 100%);
}

.form-submit_scheme {
  max-width: 385px;
  max-height: 395px;
  width: 25%;
}

.form-submit_feedback {
  max-width: 520px;
  max-height: 365px;
  width: 34%;
}

.form-submit__title {
  color: #fff;
  margin: 0;
  padding: 0;
  width: calc(85% - 140px);
  /* Titles/H6 */
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 700;
  line-height: 142.5%;
  text-align: center;
}

.form-submit__title_question {
  align-self: flex-start;
  padding-left: 27px;
}

.form-submit__input {
  margin: 0;
  padding: 0 20px;
  border-radius: 5px;
  background: #3c9cff;
  height: 52px;
  border: none;
  width: calc(85% - 40px);
}

.form-submit__input:focus-visible {
  outline: none;
  border: none;
}

.form-submit__btn {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  border-radius: 5px;
  background: #fff;
  border: none;
  height: 52px;
  width: 85%;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 3%;
  text-align: center;
  color: rgb(32, 158, 250);
}

.form-submit__name-contact {
  margin: 0;
  padding: 0;
  width: 85%;
  color: rgb(255, 255, 255);
font-family: Gilroy;
font-size: 22px;
font-weight: 500;
line-height: 142.5%;
}

.form-submit__contacts {
  margin: 0;
  padding: 0;
  width: 85%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.form-submit__contact {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 13px;
}

.form-submit__icon {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
}

.form-submit__text {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
font-family: Barlow;
font-size: 20px;
font-weight: 400;
line-height: 40px;
text-align: center;
}