/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url(./vendor/normalize.css);
@import url(./components/App/app.css);
@import url(./components/Header/header.css);
@import url(./components/Info/info.css);
@import url(./components/NavTab/nav-tab.css);
@import url(./components/History/history.css);

@import url(./components/Main/main.css);
@import url(./components/Pages/pages.css);
@import url(./components/Banner/banner.css);
@import url(./components/Description/description.css);
@import url(./components/Calculator/calculator.css);
@import url(./components/StepsCount/step-count.css);
@import url(./components/Step/step.css);
@import url(./components/OptionsList/option-list.css);
@import url(./components/Option/option.css);
@import url(./components/Solutions/solutions.css);
@import url(./components/Scheme/scheme.css);
@import url(./components/FormSubmit/form-submit.css);
@import url(./components/Services/services.css);
@import url(./components/Splurge/splurge.css);


@import url(./components/Footer/footer.css);